<center><h1>Here are the The Iron Yard Tampa Bay Conference Rooms</h1></center>
<center><p>Please select your rooms here!</p></center>


<table class="table table-striped table-hover">
  <thead>
    <tr>
        <!--<th>Picture</th>-->
        <th>Name</th>
        <th>Location</th>
        <th>Sq feet</th>
        <th>Description</th>
        <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Conference Room 1 </td>
        <td>Location 1</td>
        <td>10' by 10'</td>
        <td>Ruby on Rails</td>
        <td>Add</td>
      </tr>
        <td>Conference Room 1 </td>
        <td>Location 1</td>
        <td>10' by 10'</td>
        <td>Ruby on Rails</td>
        <td>Add</td>
      </tr>
        <td>Conference Room 1 </td>
        <td>Location 1</td>
        <td>10' by 10'</td>
        <td>Ruby on Rails</td>
        <td>Add</td>
      </tr>
        <td>Conference Room 1 </td>
        <td>Location 1</td>
        <td>10' by 10'</td>
        <td>Ruby on Rails</td>
        <td>Add</td>
      </tr>
        <td><# link_to conf_room do %>
          <span class="glyphicon glyphicon-plus"></span> Add
          <# end %>
        </td>
  </tbody>
</table>
<br>
<br>
