<% if signed_in? && current_user %>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="expand"><%= link_to 'Home', root_path %></li>
    <li role="presentation" class="expand"><%= link_to 'Conference Rooms', conf_rooms_path %></li>
    <% if signed_in? && current_user.staff? %>
        <li role="presentation" class="expand"><%= link_to 'Users', users_path %></li>
    <% end %>
  </ul>
<% end %>


